* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #080808;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #6806e7;
  color: #080808;
}

/*-----hide-default-scroll-bar------------ */

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*----fixed--navigation--button---------------*/
.fix-icon .menu-icon {
  position: fixed;
  left: 20px;
  top: 40px;
  background-color: #1c1f25;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -----navigation-------------------------*/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.navigation .menu-icon {
  cursor: pointer;
  float: right;
  padding: 20px 10px;
  z-index: 107;
}

.navigation .menu-icon .nav-icon {
  background-color: white;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: background 0.2 ease-out;
}

.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after {
  background-color: white;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
}

.navigation .menu-icon .nav-icon::before {
  top: 8px;
}

.navigation .menu-icon .nav-icon::after {
  top: -8px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0px;
}

.menu-btn {
  display: none;
}

/*-------menu---------------------------*/

.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111f1;
  z-index: 102;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fad 0.3s;
}

.menu li a {
  color: white;
  margin: 0px 40px;
  font-size: 2rem;
  font-family: Monoton;
  transition: all ease 0.3s;
}

.menu li a:hover {
  font-size: 2.3rem;
  color: #6806e7;
  transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu {
  display: flex;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----logo----------------------------------------- */

.logo {
  color: #6806e7;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 3rem;
  margin: 0px auto 0px 40px;
  display: flex;
  align-items: center;
  font-family: Monoton;
  letter-spacing: 1px;
}

.logo span {
  font-size: 0.7rem;
  margin-left: 5px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*---------------search box-------------------------*/

.search-box {
  background-color: #d1d1d111;
  padding: 3px 20px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.search-box input::placeholder {
  color: #ffffff5e;
}

.search-box button {
  background-color: transparent;
  color: #ffffffc9;
  border: none;
  outline: none;
  cursor: pointer;
}

/*---slider------------------------------------------*/

#main-slider {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px auto;
  max-width: 1170px;
  width: 100%;
}

.main-slider-box {
  width: 100%;
  height: 450px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e0e0ec2;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.main-slider-img {
  width: 100%;
  height: 100%;
}

.main-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-slider-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    #161616b9 35%,
    rgba(73, 73, 73, 0.23) 64%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

.main-slider-text .quality {
  background-color: #6806e7;
  color: #080808;
  font-weight: 600;
  padding: 0px 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.main-slider-text .movie-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-slider-text .movie-name span {
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgba(240, 240, 240, 0.82);
}

.main-slider-text .movie-name strong {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #dfdfdf;
  letter-spacing: 0.5px;
}

.main-slider-text .category {
  color: #969696;
  font-size: 0.8rem;
  font-weight: 500;
}

.main-slider-text .category a {
  color: #6806e7;
  margin: 0px 3px;
}

.rating img {
  height: 10px;
  width: 20px;
  object-fit: contain;
  object-position: center;
}

.rating {
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.main-slider-text .category-rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.main-slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all ease 0.3s;
    z-index: 2;
}

.main-slider-overlay i{
    font-size: 2rem;
}

.main-slider-box:hover .main-slider-overlay {
    top: 0px;
    transition: all ease 0.3s;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    transform: translate(0,0);
    margin: 10px 0px 0px 20px !important;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: #ffffff;
}



/*--------footer-----------------------------------*/

footer {
  background-color: #0e0e0ec2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

footer .copyright {
  color: #4d4d4d;
  font-size: 0.9 rem;
}

footer .logo {
  margin: 0px;
  font-size: 2rem;
  font-weight: 400;
}
