:root {
  --main-color: #1c1f25;
  --secondary-color: #6806e7;
  --text-color: #fff;
  font-family: "Poppins", "Sans-serif";
  color: var(--text-color);
}

body {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  background-color: var(--main-color);
}

main {
  width: 80%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
}

h4 {
  font-weight: 500;
}

.navbar {
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto;
  padding: 1.5rem 0;
}

.btn {
  margin: 0 0.5rem;
  padding: 10px;
  background-color: var(--secondary-color);
  font-size: 12px;
  color: var(--text-color);
  letter-spacing: 1px;
  cursor: pointer;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left:2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: all ease 0.3s;
}

.btn:focus,
.btn:hover,
.btn:active,
.btn:visited {
  color: var(--text-color)
}

.btn:hover {
  background-color: var(--main-color);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-right:2px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  transition: all ease 0.3s;
}

/*-----logo----------------------------------------- */

.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  color: var(--secondary-color);
  font-family: Monoton;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo span {
  font-size: 0.7rem;
  margin-left: 5px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*-----searcher----------------------------------------- */
.search-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.search-movie-input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  line-height: 2rem;
  border: none;
  border-radius: 30px;
  outline: none;
}

.input-list {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.search-movie-list {
  width: 100%;
  max-height: 50vh;
  padding: 0.7rem;
  background-color: var(--secondary-color);
  overflow-y: scroll;
  transition: max-height ease-in-out 1s;
}

.search-movie-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.hide-movie-list {
  display: none;
  transition: all ease-in-out 1s;
}

.search-movie-item:hover {
  background-color: var(--main-color);
}

.search-movie-poster img {
  width: 50px;
}

.search-movie-info {
  margin-left: 1rem;
  line-height: 2rem;
}

.search-movie__buttons {
  margin: 1rem;
}


/*-----movie-selected----------------------------------- */

.movie-banner {
  width: 60%;
  margin: 2rem auto;
  min-height: 50vh;
  padding: 60px 40px 40px 40px;
  position: relative;
  justify-content: center;
  background-size: cover;
}

.movie-title-container {
  width: 100%;
  text-align: center;
}

.movie-title-container h2 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.banner-container {
  display: flex;
  width: 100%;
}

.movie-poster {
  height: 40vh;
}

.movie-poster img {
  height: 100%;
  margin-right: 2rem;
  border: solid 2px #dfdfdf;
}

.more-about-movie .quality {
  padding: 0px 5px;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  color: #080808;
  font-weight: 600;
  font-size: 0.8rem;
}

.more-about-movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-details {
  line-height: 2rem;
  font-size: 0.8rem;
}

.movie-details p {
  color: #dfdfdf;
}

.info {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.info p {
  display: inline;
  margin-left: 0.1rem;
  font-weight: 500;
}

.info span {
  margin-right: 1rem;
  background-color: #dfdfdf0e;
  color: #dfdfdf;
  letter-spacing: 1px;
}

.more-about-movie-bottom {
  display: flex;
  flex-direction: column;
}

.more-about-movie-bottom .category {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.more-about-movie-bottom .category h4 {
  display: inline;
  margin: 0.3rem;
}

.more-about-movie-bottom .category p {
  color: #dfdfdf;
  margin: 0.3rem;
}

.watch-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid #ffffff2c;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 1px;
  transition: all ease 0.3s;
}

.watch-btn:hover {
  background-color: #ffffff09;
  transition: all ease 0.3s;
}