:root {
    --main-color: #1f1f20;
    --secondary-color: #a92a2a;
    --text-color: #fff;
    font-family: "Poppins","Sans-serif";
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    background-color: var(--main-color);
}

main {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}


.navbar {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    padding: 0.5rem 0;
    background-color: var(--main-color);
}

.navbar button {
    margin: 0 0.5rem;
}

.search-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 50%;
    margin: auto;
}

.search-movie-input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1.2rem;
    line-height: 2rem;
    border: none;
    border-radius: 30px;
    outline: none;
}

.hide-movie-list {
    display: none;
}

.input-list {
   border-radius: 0;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.search-movie-list {
    width: 100%;
    max-height: 50vh;
    padding: 0 0.7rem;
    background-color: var(--secondary-color);
    overflow-y: scroll;
}

.search-movie-item {
    display: flex;
    justify-content: left;
    align-items: center; 
    padding: 0.7rem 0;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.search-movie-item:hover {
    background-color: rgba(255, 255, 255,0.5);
}

.search-movie-poster img {
    width: 50px;
}

.search-movie-info {
    margin-left: 1rem;
    line-height: 2rem;
}

.search-movie__buttons {
    margin: 1rem;
}


/* header {

#principal-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#popular-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}



/*-----logo----------------------------------------- */

.logo {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    color:#6806e7;
    font-family: Monoton;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.logo span {
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* .container-principal-movie {
    width: 70%;
    margin: auto;
    color: var(--text-color);
}

.container-principal-movie h2, .container-principal-movie div button {
    margin: 1rem 0;
}

.popular-movies-title {
    margin: 2rem 0 1rem 0.5rem;
    color: var(--text-color);
}

.card, .card img {
    width: 10rem;
    height: 15rem;
    margin: 1rem auto;
    border-radius: 15px;
    transition: transform 300ms;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 300ms;
    cursor: pointer;
} */
